.Modal__overlay {
  animation: enter 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.close__modal {
  animation: leave 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  opacity: 0;
}
.Modal {
  position: relative;
  max-width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeBtn {
  position: absolute;
  right: 20px;
  top: 0;
  width: 40px;
  height: 40px;
  background: var(--dark-overlay);
  border: 1px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: var(--primary-transition);
}
.closeBtn::before,
.closeBtn::after {
  content: '';
  position: absolute;
  top: 17px;
  right: 4px;
  width: 30px;
  height: 3px;
  background-color: var(--white);
  border-radius: 1.5px;
  transition: var(--primary-transition);
}
.closeBtn::before {
  transform: rotate(45deg);
}
.closeBtn::after {
  transform: rotate(-45deg);
}
.closeBtn:hover::before {
  transform: rotate(225deg);
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes leave {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
