.MenuBtn__container,
.MenuBtn__container__active {
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  outline: none;
  transition: var(--primary-transition);
}
.MenuBtn {
  width: 30px;
  height: 3px;
  background-color: var(--header-title-color);
  border-radius: 1.5px;
  transition: var(--primary-transition);
}
.MenuBtn::before,
.MenuBtn::after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--header-title-color);
  border-radius: 1.5px;
  transition: var(--primary-transition);
}
.MenuBtn::before {
  transform: translateY(-10px);
}
.MenuBtn::after {
  transform: translateY(7px);
}

/* onClick */

.MenuBtn__container__active .MenuBtn {
  transform: translateX(-50px);
  background: transparent;
}
.MenuBtn__container__active .MenuBtn::before {
  transform: rotate(45deg) translate(37px, -35px);
}
.MenuBtn__container__active .MenuBtn::after {
  transform: rotate(-45deg) translate(37px, 35px);
}
