.title {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
  color: var(--primary-font-color);
}
.certificate_container {
  width: 95%;
  display: flex;
  justify-content: center;
  grid-gap: 10px;
  margin: 0 auto 30px;
}
.img__summary {
  display: block;
  max-height: 300px;
  border-radius: 10px;
  box-shadow: var(--primary-shadow);
  cursor: pointer;
  margin: 0 auto;
  transition: var(--transition-hover);
}
.img {
  max-width: 30%;
  max-height: 300px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: var(--primary-shadow);
}
.img__modal {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.certificate:hover,
.certificate:focus,
.img__summary:hover,
.img__summary:focus {
  box-shadow: var(--primary-shadow);
  transform: scale(1.02);
  transition: var(--transition-hover);
}
