.Footer {
  background: var(--footer-linear-gradient), url('../../assets/img/footer.jpg') no-repeat center / cover;
}
.title {
  text-align: center;
  font: var(--font-title);
  color: var(--header-title-color);
  padding-top: 30px;
  margin-bottom: 30px;
}
.contacts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* social link icon */
.contacts__icon {
  margin-bottom: 30px;
}
.contacts__icon__link {
  text-decoration: none;
}
.contacts__icon__link:not(:last-child) {
  margin-right: 30px;
}
/* phone, email */
.contacts__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.contacts__data__link {
  text-decoration: none;
  margin-bottom: 20px;
}
/* svg icon */
.svg__icon {
  width: 50px;
  padding: 8px;
  border: 1px solid #111;
  border-radius: 10px;
  transition: 0.2s linear;
  transform: scale(1);
}
.svg__icon:hover,
.svg__icon:focus {
  fill: var(--header-title-color);
  border-color: var(--header-title-color);
  background-color: var(--list-item-bg);
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
  box-shadow: 0 0 5px var(--header-title-color);
}
/* phone number */
.contacts__data__phone {
  text-decoration: none;
  font: var(--font-title);
  color: var(--header-title-color);
  position: relative;
  margin-bottom: 20px;
}
@keyframes noise {
  0% {
    clip: rect(27px, 9999px, 77px, 0);
  }
  5% {
    clip: rect(24px, 9999px, 20px, 0);
  }
  10% {
    clip: rect(8px, 9999px, 40px, 0);
  }
  15% {
    clip: rect(35px, 9999px, 30px, 0);
  }
  20% {
    clip: rect(1px, 9999px, 30px, 0);
  }
  25% {
    clip: rect(42px, 9999px, 4px, 0);
  }
  30% {
    clip: rect(99px, 9999px, 4px, 0);
  }
  35% {
    clip: rect(56px, 9999px, 59px, 0);
  }
  40% {
    clip: rect(98px, 9999px, 90px, 0);
  }
  45% {
    clip: rect(71px, 9999px, 74px, 0);
  }
  50% {
    clip: rect(76px, 9999px, 50px, 0);
  }
  55% {
    clip: rect(91px, 9999px, 47px, 0);
  }
  60% {
    clip: rect(48px, 9999px, 35px, 0);
  }
  65% {
    clip: rect(27px, 9999px, 28px, 0);
  }
  70% {
    clip: rect(41px, 9999px, 47px, 0);
  }
  75% {
    clip: rect(8px, 9999px, 69px, 0);
  }
  80% {
    clip: rect(13px, 9999px, 91px, 0);
  }
  85% {
    clip: rect(39px, 9999px, 9px, 0);
  }
  90% {
    clip: rect(87px, 9999px, 32px, 0);
  }
  95% {
    clip: rect(51px, 9999px, 13px, 0);
  }
  100% {
    clip: rect(18px, 9999px, 57px, 0);
  }
}
.contacts__data__phone:after {
  content: attr(data-text);
  width: 100%;
  position: absolute;
  left: 1px;
  top: 0;
  text-shadow: -1px 0 var(--red);
  color: var(--header-title-color);
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise 2s infinite linear alternate-reverse;
}
@keyframes noise-2 {
  0% {
    clip: rect(50px, 9999px, 22px, 0);
  }
  5% {
    clip: rect(62px, 9999px, 24px, 0);
  }
  10% {
    clip: rect(81px, 9999px, 64px, 0);
  }
  15% {
    clip: rect(69px, 9999px, 33px, 0);
  }
  20% {
    clip: rect(27px, 9999px, 94px, 0);
  }
  25% {
    clip: rect(2px, 9999px, 85px, 0);
  }
  30% {
    clip: rect(77px, 9999px, 47px, 0);
  }
  35% {
    clip: rect(12px, 9999px, 58px, 0);
  }
  40% {
    clip: rect(24px, 9999px, 8px, 0);
  }
  45% {
    clip: rect(93px, 9999px, 57px, 0);
  }
  50% {
    clip: rect(91px, 9999px, 86px, 0);
  }
  55% {
    clip: rect(25px, 9999px, 53px, 0);
  }
  60% {
    clip: rect(24px, 9999px, 34px, 0);
  }
  65% {
    clip: rect(33px, 9999px, 61px, 0);
  }
  70% {
    clip: rect(99px, 9999px, 68px, 0);
  }
  75% {
    clip: rect(73px, 9999px, 99px, 0);
  }
  80% {
    clip: rect(82px, 9999px, 38px, 0);
  }
  85% {
    clip: rect(10px, 9999px, 29px, 0);
  }
  90% {
    clip: rect(12px, 9999px, 78px, 0);
  }
  95% {
    clip: rect(62px, 9999px, 75px, 0);
  }
  100% {
    clip: rect(80px, 9999px, 33px, 0);
  }
}
.contacts__data__phone::before {
  content: attr(data-text);
  width: 100%;
  position: absolute;
  left: -1px;
  top: 0;
  text-shadow: 1px 0 var(--blue);
  color: var(--header-title-color);
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-2 3s infinite linear alternate-reverse;
}
/* email */
.contacts__data__email {
  text-decoration: none;
  font: var(--primary-font);
  color: var(--header-title-color);
  transition: var(--transition-hover);
}
.contacts__data__email:hover,
.contacts__data__email:focus {
  color: var(--white);
  transition: var(--transition-hover);
}
