:root {
  /* Colors */
  --white: #fff;
  --red: #f560608a;
  --blue: #00146e;
  --primary-font-color: #333333;
  --dark-overlay: #090c1ac5;
  --header-title-color: #ffffffa2;
  --list-item-bg: #031027b7;
  /* Shadows */
  --header-title-shadow: 0 0 5px #3d3d3dd2;
  --header-title-shadow-white: 0 0 5px #fff;
  --primary-shadow: 0px 1px 15px 5px #00162786;
  /* Linear-gradients */
  --appbar-linear-gradient: linear-gradient(#ffffff77, #93a2e49a);
  --footer-linear-gradient: linear-gradient(#4465a3c0, #2451a5c0);
  /* transitions */
  --primary-transition: all 0.4s ease-in-out;
  --transition-hover: 0.2s linear;
  /* Fonts */
  --font-title: 700 1.5em 'Lato', sans-serif;
  --primary-font: 400 1.2em 'Lato', sans-serif;
}

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
