.cleanBanner {
  height: 120vh;
  opacity: 0;
}
.Banner {
  height: 100vh;
  background: url('../../assets/img/banner@0\,5x.jpg') center / cover;
  transition: var(--primary-transition);
  box-shadow: var(--primary-shadow);
  animation: moveImage 200s linear infinite;
}
.banner__bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--banner-overlay);
}
.container {
  text-align: center;
  background-color: var(--dark-overlay);
  padding: 1em;
  border-radius: 3em;
  box-shadow: var(--primary-shadow);
}
.title {
  font: 700 2.5em 'Quicksand', sans-serif;
  color: var(--header-title-color);
  margin-bottom: 20px;
  cursor: default;
}
.subTitle {
  font: 700 1.5em 'Quicksand', sans-serif;
  color: var(--header-title-color);
  cursor: default;
}

@media screen and (min-width: 768px) {
  .Banner {
    background: url('../../assets/img/banner@0\,75x.jpg') center / cover;
  }
  .container {
    padding: 3em;
    border-radius: 5em;
  }
}

@media screen and (min-width: 1280px) {
  .Banner {
    background: url('../../assets/img/banner.jpg') center / cover;
  }
}

@keyframes moveImage {
  100% {
    background-position: 0px -3000px;
  }
}
